@model IList< OmashahTask.Application.Dtos.ItemDto>

@{
    ViewData["Title"] = "View";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0]!.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0]!.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0]!.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0]!.From)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0]!.To)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td name="desc">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.From)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.To)
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
<script>
          $('td[name="desc"]').each(function() {
              debugger;
             var html = $(this).html()
             .replaceAll('[[button]]','<input type="button" value="Button" class="btn btn-primary" onclick="showPopup()" />')
             .replaceAll('[[Button]]','<input type="button" value="Button" class="btn btn-primary" onclick="showPopup()" />')
             .replaceAll('[[BUTTON]]','<input type="button" value="Button" class="btn btn-primary" onclick="showPopup()" />');

             $(this).html(html);
        }); 

        function showPopup() {
            alert("pressed");
        }

</script>
}